* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #d9d9d9;
  background-image: linear-gradient(315deg, #d9d9d9 0%, #f6f2f2 74%);
}

h1 {
  font-family: "Mate SC", serif;
  color: #0f1923;
}

h2 {
  font-family: "Mate SC", serif;
  padding: 1rem;
  color: #0f1923;
}

p {
  font-family: "Roboto Mono", monospace;
  line-height: 1.5rem;
  padding: 1rem;
  color: #383e3a;
}

header {
  width: 100%;
  height: auto;
  position: relative;
  overflow: hidden;
}

header nav {
  position: fixed;
  height: auto;
  width: 100%;
  z-index: 10;
}

header video {
  width: 100%;
}

footer {
  text-align: center;
  background-color: #111111;
  height: 150px;
  width: 100%;
  border-bottom: #e84350 2px solid;
}

footer a span {
  color: #d9d9d9;
  text-align: center;
  padding-top: 1rem;
}

footer a span:hover {
  color: #e84350;
  font-weight: bold;
}

footer a {
  font-family: "Roboto Mono";
  text-decoration: none;
  color: #d9d9d9;
  line-height: 1px;
}

footer div {
  padding-top: 1rem;
}

footer div p {
  padding: 0;
  color: #d9d9d9;
}

/* Los main */

.main-index {
  width: 90%;
  height: auto;
  border-top: #e84350 solid 3px;
  padding-top: 60px;
  margin-left: auto;
  margin-right: auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  text-align: center;
}

.main-competitivo {
  width: 90%;
  height: auto;
  border-top: #e84350 solid 3px;
  padding-top: 60px;
  margin-left: auto;
  margin-right: auto;
  display: grid;
  grid-template-columns: 1fr;
  text-align: center;
}

.main-agentes {
  width: 90%;
  padding-top: 60px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  display: grid;
  grid-template-columns: 1fr;
}

.main-mapas {
  width: 100%;
  height: auto;
  padding-top: 55px;
  margin-left: auto;
  margin-right: auto;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  text-align: center;
}

.main-formulario {
  width: 100%;
  background-color: #222222;
  padding-top: 105px;
  padding-bottom: 45px;
  text-align: center;
  display: grid;
  place-items: center;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  gap: 20px;
}

/* menu */

.menu {
  padding: 0;
  background-color: #111111;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-around;
}

.menu li {
  display: inline-block;
}

.menu li a {
  font-family: "Mate SC", serif;
  text-decoration: none;
  color: #d9d9d9;
  padding: 1rem;
  display: block;
  font-size: 12px;
}

.menu li a:hover {
  color: #e84350;
  font-weight: bold;
}

.menu li a span {
  text-decoration: none;
  color: #d9d9d9;
  display: block;
}
.menu li a span:hover {
  color: #e84350;
  font-weight: bold;
}

/* index */

/* header index */

.cabeza {
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  position:absolute;
  z-index: 5;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cabeza h1 {
  font-size: 80px;
  font-weight: 900;
  color: #e84350;
  margin-bottom: 30px;
}

.cabeza h1::after {
  display: block;
  width: 30%;
  height: 10px;
  content: "";
  margin: auto;
  background: #e84350;
}

/* Secciones index */

.sec1 {
  width: 100%;
  height: auto;
  display: grid;
  grid-template-columns: 1fr;
  padding: 30px;
}

.sec1 h2 {
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sec1 p {
  padding-top: 0;
  padding-bottom: 0;
  text-align: justify;
  display: flex;
}

.sec2 {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px;
}

.sec3 {
  border-top: #e84350 solid 3px;
  width: 100%;
  height: auto;
  display: grid;
  grid-template-columns: 1fr;
  padding: 30px;
}

.sec3 h2 {
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sec3 p {
  padding-top: 0;
  padding-bottom: 0;
  text-align: justify;
  display: flex;
}

.sec4 {
  border-top: #e84350 solid 3px;
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px;
}

/* competitivo */

.sec-titulo {
  height: 100px;
  padding-top: 3rem;
  padding-bottom: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sec-1 {
  width: 100%;
  height: 550px;
  display: grid;
  grid-template-columns: 1fr;
  border-top: #e84350 3px solid;
}

.sec-1 h2 {
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sec-1 p {
  padding-top: 0;
  padding-bottom: 0;
  text-align: center;
  display: flex;
}

.sec-2 {
  width: 100%;
  height: 550px;
  display: grid;
  grid-template-columns: 1fr;
  border-top: #e84350 3px solid;
}

.sec-2 h2 {
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sec-2 p {
  padding-top: 0;
  padding-bottom: 0;
  text-align: center;
  display: flex;
}

.sec-3 {
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: #e84350 3px solid;
}

.sec-3 img {
  padding-top: 3rem;
  padding-bottom: 3rem;
  width: 50%;
  text-align: center;
}

.sec-4 {
  width: 100%;
  height: 550px;
  display: grid;
  grid-template-columns: 1fr;
  border-top: #e84350 3px solid;
}

.sec-4 h2 {
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sec-4 p {
  padding-top: 0;
  padding-bottom: 0;
  text-align: center;
  display: flex;
}

/* agentes */

.titulo-agentes {
  padding-top: 2rem;
  padding-bottom: 2rem;
  border-bottom: #e84350 3px solid;
}

.sage {
  background-color: rgba(#111111, #111111, #111111, 0.6);
  margin-top: 4rem;
  margin-bottom: 4rem;
  border-bottom: solid 3px #e84350;
  padding-bottom: 4rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
}

.sage div {
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.sage div h2 {
  display: flex;
  align-items: left;
}

.sova {
  background-color: rgba(#111111, #111111, #111111, 0.6);
  margin-top: 4rem;
  margin-bottom: 4rem;
  border-bottom: solid 3px #e84350;
  padding-bottom: 4rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
}

.sova div {
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.sova div h2 {
  display: flex;
  align-items: left;
}

.viper {
  background-color: rgba(#111111, #111111, #111111, 0.6);
  margin-top: 4rem;
  margin-bottom: 4rem;
  border-bottom: solid 3px #e84350;
  padding-bottom: 4rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
}

.viper div {
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.viper div h2 {
  display: flex;
  align-items: left;
}

.cypher {
  background-color: rgba(#111111, #111111, #111111, 0.6);
  margin-top: 4rem;
  margin-bottom: 4rem;
  border-bottom: solid 3px #e84350;
  padding-bottom: 4rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
}

.cypher div {
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.cypher div h2 {
  display: flex;
  align-items: left;
}

.reyna {
  background-color: rgba(#111111, #111111, #111111, 0.6);
  margin-top: 4rem;
  margin-bottom: 4rem;
  border-bottom: solid 3px #e84350;
  padding-bottom: 4rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
}

.reyna div {
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.reyna div h2 {
  display: flex;
  align-items: left;
}

.killjoy {
  background-color: rgba(#111111, #111111, #111111, 0.6);
  margin-top: 4rem;
  margin-bottom: 4rem;
  border-bottom: solid 3px #e84350;
  padding-bottom: 4rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
}

.killjoy div {
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.killjoy div h2 {
  display: flex;
  align-items: left;
}

.skye {
  background-color: rgba(#111111, #111111, #111111, 0.6);
  margin-top: 4rem;
  margin-bottom: 4rem;
  border-bottom: solid 3px #e84350;
  padding-bottom: 4rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
}

.skye div {
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.skye div h2 {
  display: flex;
  align-items: left;
}

.yoru {
  background-color: rgba(#111111, #111111, #111111, 0.6);
  margin-top: 4rem;
  margin-bottom: 4rem;
  border-bottom: solid 3px #e84350;
  padding-bottom: 4rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
}

.yoru div {
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.yoru div h2 {
  display: flex;
  align-items: left;
}

.astra {
  background-color: rgba(#111111, #111111, #111111, 0.6);
  margin-top: 4rem;
  margin-bottom: 4rem;
  border-bottom: solid 3px #e84350;
  padding-bottom: 4rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
}

.astra div {
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.astra div h2 {
  display: flex;
  align-items: left;
}

.kayo {
  background-color: rgba(#111111, #111111, #111111, 0.6);
  margin-top: 4rem;
  margin-bottom: 4rem;
  border-bottom: solid 3px #e84350;
  padding-bottom: 4rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
}

.kayo div {
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.kayo div h2 {
  display: flex;
  align-items: left;
}

.chamber {
  background-color: rgba(#111111, #111111, #111111, 0.6);
  margin-top: 4rem;
  margin-bottom: 4rem;
  border-bottom: solid 3px #e84350;
  padding-bottom: 4rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
}

.chamber div {
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.chamber div h2 {
  display: flex;
  align-items: left;
}

.neon {
  background-color: rgba(#111111, #111111, #111111, 0.6);
  margin-top: 4rem;
  margin-bottom: 4rem;
  border-bottom: solid 3px #e84350;
  padding-bottom: 4rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
}

.neon div {
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.neon div h2 {
  display: flex;
  align-items: left;
}

.jett {
  background-color: rgba(#111111, #111111, #111111, 0.6);
  margin-top: 4rem;
  margin-bottom: 4rem;
  border-bottom: solid 3px #e84350;
  padding-bottom: 4rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
}

.jett div {
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.jett div h2 {
  display: flex;
  align-items: left;
}

.raze {
  background-color: rgba(#111111, #111111, #111111, 0.6);
  margin-top: 4rem;
  margin-bottom: 4rem;
  border-bottom: solid 3px #e84350;
  padding-bottom: 4rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
}

.raze div {
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.raze div h2 {
  display: flex;
  align-items: left;
}

.breach {
  background-color: rgba(#111111, #111111, #111111, 0.6);
  margin-top: 4rem;
  margin-bottom: 4rem;
  border-bottom: solid 3px #e84350;
  padding-bottom: 4rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
}

.breach div {
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.breach div h2 {
  display: flex;
  align-items: left;
}

.omen {
  background-color: rgba(#111111, #111111, #111111, 0.6);
  margin-top: 4rem;
  margin-bottom: 4rem;
  border-bottom: solid 3px #e84350;
  padding-bottom: 4rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
}

.omen div {
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.omen div h2 {
  display: flex;
  align-items: left;
}

.brimstone {
  background-color: rgba(#111111, #111111, #111111, 0.6);
  margin-top: 4rem;
  margin-bottom: 4rem;
  border-bottom: solid 3px #e84350;
  padding-bottom: 4rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
}

.brimstone div {
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.brimstone div h2 {
  display: flex;
  align-items: left;
}

.phoenix {
  background-color: rgba(#111111, #111111, #111111, 0.6);
  margin-top: 4rem;
  margin-bottom: 4rem;
  padding-bottom: 4rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
}

.phoenix div {
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.phoenix div h2 {
  display: flex;
  align-items: left;
}

/* footer */

.copy {
  padding: 1rem;
  text-align: center;
  color: #d9d9d9;
  font-family: "Roboto Mono", monospace;
}

.pie {
  text-align: center;
  background-color: #111111;
  height: 100px;
  width: 100%;
}

.copy-inicio {
  padding: 1rem;
  text-align: center;
  color: #d9d9d9;
  font-family: "Roboto Mono", monospace;
}

/* formulario */

.contenido {
  width: 95%;
  background-color: #d9d9d9;
  border-radius: 8px;
  border-bottom: #e84350 3px solid;
}

.titulo-formulario {
  padding: 2rem;
  padding-bottom: 1rem;
  font-size: 25px;
}

.titulo-formulario span {
  color: #e84350;
}

.relleno {
  padding-bottom: 2rem;
}

.relleno span {
  color: #e84350;
  text-decoration: underline #e84350;
}

.relleno span:hover {
  padding: 2.5px;
  background-color: #e84350;
  border: #e84350 3px;
  border-radius: 3px;
  color: #d9d9d9;
  text-decoration: underline #d9d9d9;
}

.formulario {
  color: #d9d9d9;
  background-color: #111111;
  width: 95%;
  height: 100%;
  border-radius: 8px;
  border-bottom: #e84350 3px solid;
}

.formulario * {
  padding: 1.2rem;
}

.formulario form p {
  width: 100%;
  height: 130px;
  color: #d9d9d9;
  display: flex;
  flex-direction: column;
  text-align: left;
}

.formulario form {
  display: grid;
  grid-template-columns: 1fr;
}

.formulario form p label {
  padding: 0;
}

.formulario form p input,
.mensaje textarea {
  text-decoration: none;
  border: none;
  background: none;
  border-bottom: #e84350 3px solid;
  border-radius: 3px;
}

.boton {
  place-content: center;
  color: #e84350;
}

.boton button {
  border-radius: 3px;
  border: none;
  background: #e84350;
  padding: 1.6rem;
  color: #d9d9d9;
  text-transform: uppercase;
}

.boton button:hover,
.boton button:focus {
  background: #9b1d27;
  font-weight: bold;
  transition: background-color 1s ease-out;
  outline: 0;
}

/* mapas */

.titulo-mapas {
  padding-left: 14rem;
  padding-right: 14rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
  background-color: #111111;
  border-top: #e84350 4px solid;
}
.titulo-mapas h1 {
  font-size: 30px;
  color: #e84350;
}
.titulo-mapas p {
  color: #d9d9d9;
  text-align: justify;
 }
.titulo-mapas-caja  {
  padding-top: 15px;
  padding-left: 8rem;
  padding-right: 8rem;
  border-radius: 8px;
}

.ascent {
  padding: 1.4rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
}
.ascent-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 8rem;
}

.bind {
  padding: 1.4rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
}
.bind-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 8rem;
}

.fracture {
  padding: 1.4rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
}
.fracture-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 8rem;
}

.icebox {
  padding: 1.4rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
}
.icebox-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 8rem;
}

.split {
  padding: 1.4rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
}
.split-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 8rem;
}

.haven {
  padding: 1.4rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
}
.haven-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 8rem;
}

.breeze {
  padding: 1.4rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
}
.breeze-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 8rem;
}

/* Medias */

/* INDEX */

@media (max-width: 800px) {
  .cabeza h1 {
    font-size: 50px;
    text-align: center;
  }
  .main-index {
    width: 100%;
    border-top: none;
    display: flex;
    flex-direction: column;
    margin: auto;
  }
  .sec1 {
    border-top: #e84350 solid 3px;
  }
  .sec2 {
    width: 100%;
    border-top: none;
    padding: 30px;
  }
  .sec4 {
    width: 100%;
    border-top: none;
    padding: 30px;
  }
}

@media screen and (max-width: 500px){
  .cabeza h1 {
    font-size: 30px;
    margin-bottom: 0;
  }  
  .cabeza h1::after {
    display: none;
  }
}

/* formulario */

@media (min-width: 800px) {
  .menu {
    justify-content: flex-end;
  }
  .menu li a {
    font-size: 16px;
  }
  .contenido {
    width: 80%;
  }
  .titulo-formulario {
    font-size: 34px;
  }
  .relleno {
    font-size: 16px;
  }
  .formulario {
    width: 80%;
  }
  .formulario form {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .formulario form .bloque {
    grid-column: 1 / 3;
  }
}

/* competitivo */

@media (max-width: 800px) {
  .main-competitivo {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
  }
  .sec-titulo {
    width: 100%;
    text-align: center;
    height: auto;
    font-size: 12px;
  }

  .sec-1 {
    height: auto;
    padding: 1rem;
    padding-bottom: 1rem;
  }

  .sec-1 h2 {
    font-size: 25px;
  }

  .sec-1 p {
    text-align: justify;
  }

  .sec-2 {
    height: auto;
    padding: 1rem;
    padding-bottom: 1rem;
  }

  .sec-2 h2 {
    font-size: 25px;
  }

  .sec-2 p {
    text-align: justify;
  }

  .sec-3 img {
    width: 100%;
  }

  .sec-4 {
    height: auto;
    padding-top: 1rem;
    padding-bottom: 1rem;
  }

  .sec-4 h2 {
    font-size: 25px;
  }

  .sec-4 p {
    text-align: justify;
  }
}

/* agentes */

@media (max-width: 800px) {
  .main-agentes {
    width: 100%;
    margin: auto;
  }

  .titulo-agentes {
    width: 90%;
    height: 300px;
    margin-left: auto;
    margin-right: auto;
  }

  .titulo-agentes p {
    text-align: justify;
  }

  .sage {
    display: grid;
    grid-template-columns: 1fr;
  }

  .sage img {
    width: 50%;
    margin: auto;
  }

  .sage div {
    height: 300px;
    width: 100%;
    align-items: center;
  }

  .sage div p {
    height: auto;
    width: 90%;
    text-align: justify;
  }

  .sova {
    display: grid;
    grid-template-columns: 1fr;
  }

  .sova img {
    width: 50%;
    margin: auto;
  }

  .sova div {
    height: 300px;
    width: 100%;
    align-items: center;
  }

  .sova div p {
    height: auto;
    width: 90%;
    text-align: justify;
  }

  .viper {
    display: grid;
    grid-template-columns: 1fr;
  }

  .viper img {
    width: 50%;
    margin: auto;
  }

  .viper div {
    height: 300px;
    width: 100%;
    align-items: center;
  }

  .viper div p {
    height: auto;
    width: 90%;
    text-align: justify;
  }

  .cypher {
    display: grid;
    grid-template-columns: 1fr;
  }

  .cypher img {
    width: 50%;
    margin: auto;
  }

  .cypher div {
    height: 300px;
    width: 100%;
    align-items: center;
  }

  .cypher div p {
    height: auto;
    width: 90%;
    text-align: justify;
  }

  .reyna {
    display: grid;
    grid-template-columns: 1fr;
  }

  .reyna img {
    width: 50%;
    margin: auto;
  }

  .reyna div {
    height: 300px;
    width: 100%;
    align-items: center;
  }

  .reyna div p {
    height: auto;
    width: 90%;
    text-align: justify;
  }

  .killjoy {
    display: grid;
    grid-template-columns: 1fr;
  }

  .killjoy img {
    width: 50%;
    margin: auto;
  }

  .killjoy div {
    height: 300px;
    width: 100%;
    align-items: center;
  }

  .killjoy div p {
    height: auto;
    width: 90%;
    text-align: justify;
  }

  .skye {
    display: grid;
    grid-template-columns: 1fr;
  }

  .skye img {
    width: 50%;
    margin: auto;
  }

  .skye div {
    height: 300px;
    width: 100%;
    align-items: center;
  }

  .skye div p {
    height: auto;
    width: 90%;
    text-align: justify;
  }

  .yoru {
    display: grid;
    grid-template-columns: 1fr;
  }

  .yoru img {
    width: 50%;
    margin: auto;
  }

  .yoru div {
    height: 300px;
    width: 100%;
    align-items: center;
  }

  .yoru div p {
    height: auto;
    width: 90%;
    text-align: justify;
  }

  .astra {
    display: grid;
    grid-template-columns: 1fr;
  }

  .astra img {
    width: 50%;
    margin: auto;
  }

  .astra div {
    height: 300px;
    width: 100%;
    align-items: center;
  }

  .astra div p {
    height: auto;
    width: 90%;
    text-align: justify;
  }

  .kayo {
    display: grid;
    grid-template-columns: 1fr;
  }

  .kayo img {
    width: 50%;
    margin: auto;
  }

  .kayo div {
    height: 300px;
    width: 100%;
    align-items: center;
  }

  .kayo div p {
    height: auto;
    width: 90%;
    text-align: justify;
  }

  .chamber {
    display: grid;
    grid-template-columns: 1fr;
  }

  .chamber img {
    width: 50%;
    margin: auto;
  }

  .chamber div {
    height: 300px;
    width: 100%;
    align-items: center;
  }

  .chamber div p {
    height: auto;
    width: 90%;
    text-align: justify;
  }

  .neon {
    display: grid;
    grid-template-columns: 1fr;
  }

  .neon img {
    width: 50%;
    margin: auto;
  }

  .neon div {
    height: 300px;
    width: 100%;
    align-items: center;
  }

  .neon div p {
    height: auto;
    width: 90%;
    text-align: justify;
  }

  .jett {
    display: grid;
    grid-template-columns: 1fr;
  }

  .jett img {
    width: 50%;
    margin: auto;
  }

  .jett div {
    height: 300px;
    width: 100%;
    align-items: center;
  }

  .jett div p {
    height: auto;
    width: 90%;
    text-align: justify;
  }

  .raze {
    display: grid;
    grid-template-columns: 1fr;
  }

  .raze img {
    width: 50%;
    margin: auto;
  }

  .raze div {
    height: 300px;
    width: 100%;
    align-items: center;
  }

  .raze div p {
    height: auto;
    width: 90%;
    text-align: justify;
  }

  .breach {
    display: grid;
    grid-template-columns: 1fr;
  }

  .breach img {
    width: 50%;
    margin: auto;
  }

  .breach div {
    height: 300px;
    width: 100%;
    align-items: center;
  }

  .breach div p {
    height: auto;
    width: 90%;
    text-align: justify;
  }

  .omen {
    display: grid;
    grid-template-columns: 1fr;
  }

  .omen img {
    width: 50%;
    margin: auto;
  }

  .omen div {
    height: 300px;
    width: 100%;
    align-items: center;
  }

  .omen div p {
    height: auto;
    width: 90%;
    text-align: justify;
  }

  .brimstone {
    display: grid;
    grid-template-columns: 1fr;
  }

  .brimstone img {
    width: 50%;
    margin: auto;
  }

  .brimstone div {
    height: 300px;
    width: 100%;
    align-items: center;
  }

  .brimstone div p {
    height: auto;
    width: 90%;
    text-align: justify;
  }

  .phoenix {
    display: grid;
    grid-template-columns: 1fr;
  }

  .phoenix img {
    width: 50%;
    margin: auto;
  }

  .phoenix div {
    height: 300px;
    width: 100%;
    align-items: center;
  }

  .phoenix div p {
    height: auto;
    width: 90%;
    text-align: justify;
  }
}

@media (max-width: 500px) {
  .titulo-agentes {
    height: auto; 
  }
}

/* mapas */

@media (max-width: 800px) {
  .main-mapas {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0;
  }
  .titulo-mapas {
    padding-left: 1.4rem;
    padding-right: 1.4rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
  .ascent {
    height: auto;
    display: flex;
    flex-direction: column;
  }
  .ascent-img img {
    width: 100%;
  }
  .bind {
    height: auto;
    display: flex;
    flex-direction: column;
  }
  .bind-img img {
    width: 100%;
  }
  .fracture {
    height: auto;
    display: flex;
    flex-direction: column;
  }
  .fracture-img img {
    width: 100%;
  }
  .icebox {
    height: auto;
    display: flex;
    flex-direction: column;
  }
  .icebox-img img {
    width: 100%;
  }
  .split {
    height: auto;
    display: flex;
    flex-direction: column;
  }
  .split-img img {
    width: 100%;
  }
  .haven {
    height: auto;
    display: flex;
    flex-direction: column;
  }
  .haven-img img {
    width: 100%;
  }
  .breeze {
    height: auto;
    display: flex;
    flex-direction: column;
  }
  .breeze-img img {
    width: 100%;
  }
}

@media (max-width: 500px) {
  .titulo-mapas {
    padding: 3rem 5px;
  }
  .titulo-mapas-caja {
    padding: 1rem 5px;
  }
  .ascent {
    padding: 3rem 5px;
  }
  .ascent-text {
    padding: 1rem 5px;
  }
  .fracture {
    padding: 3rem 5px;
  }
  .fracture-text {
    padding: 1rem 5px;
  }
  .bind {
    padding: 3rem 5px;
  }
  .bind-text {
    padding: 1rem 5px;
  }
  .icebox {
    padding: 3rem 5px;
  }
  .icebox-text {
    padding: 1rem 5px;
  }
  .split {
    padding: 3rem 5px;
  }
  .split-text {
    padding: 1rem 5px;
  }
  .haven {
    padding: 3rem 5px;
  }
  .haven-text {
    padding: 1rem 5px;
  }
  .breeze {
    padding: 3rem 5px;
  }
  .breeze-text {
    padding: 1rem 5px;
  }
}